<h1> Solo Tours </h1>
<h2> Searth for a flight </H2>

<%= form_with url: '/flights/search', method: :get do |form| %>
  <%= form.label :departure_airport, "Departure airport:" %>
  <%= form.collection_select :departure_airport, Airport.all, :id, :name %>
  <%= form.label :arrival_airport, "Arrival airport:" %>
  <%= form.collection_select :arrival_airport, Airport.all, :id, :name %>
  <%= form.label :from_date, "From date:" %>
  <%= form.collection_select :from_date, Flight.order(:start_datetime).distinct, :start_datetime, :start_datetime_formatted %>
  <%= form.label :to_date, "To date:" %>
  <%= form.collection_select :to_date, Flight.order(:start_datetime).distinct, :start_datetime, :start_datetime_formatted %>
  <%= form.label :tickets, "Number of tickets:" %>
  <%= form.select :tickets, [ [1, 1], [2, 2], [3, 3], [4, 4] ] %>
  <%= form.submit "Search flight" %>
<% end %>


<h2> Choose a flight: </h2>
<%= form_with url: 'bookings/new', method: :get do |form| %>
  <% @flights.each do |flight| %>
    <%= form.radio_button :flight_id, flight.id %>
    <%= form.label :flight_id, " #{flight.departure_airport.name} - #{flight.arrival_airport.name} : #{flight.start_datetime_formatted}" %>
    <br>
  <% end %>
  <%= hidden_field_tag :tickets, params[:tickets] %>
  <%= form.submit "book" %>
<% end %>
