<h1> Solo Tours </h1>
<h2> Searth for a flight </H2>

<%= form_with url: '/flights/search', method: :get do |form| %>
  <%= form.label :departure_airport, "Departure airport:" %>
  <%= form.collection_select :departure_airport, Airport.all, :id, :name %>
  <%= form.label :arrival_airport, "Arrival airport:" %>
  <%= form.collection_select :arrival_airport, Airport.all, :id, :name %>
  <%= form.label :from_date, "From date:" %>
  <%= form.collection_select :from_date, Flight.order(:start_datetime).distinct, :start_datetime, :start_datetime %>
  <%= form.label :to_date, "To date:" %>
  <%= form.collection_select :to_date, Flight.order(:start_datetime).distinct, :start_datetime, :start_datetime %>
  <%= form.label :passengers, "Number of passengers:" %>
  <%= form.select :passengers, [ [1, 1], [2, 2], [3, 3], [4, 4] ] %>
  <%= form.submit "Search flight" %>
<% end %>

<h2> Available flights </h2>
<div class="results">
<% if @flights %>
  <% @flights.each do |flight| %>
    <div class="flights">
      <h3> Departure airport: </h3>
      <p> <%= flight.departure_airport.name %> </p>
      <h3> Arrival airport: </h3>
      <p> <%= flight.arrival_airport.name %> </p>
      <h3> Take off: </h3>
      <p> <%= flight.start_datetime %> </p>
      <h3> Arrival at <%= flight.arrival_airport.name %>: </h3>
      <p> <%= flight.start_datetime + flight.flight_duration.minutes %> </p>
    </div>
  <% end %>
<% else %>
  <p> Please run a search to display available flight </p>
<% end %>
</div>
